@use '../Color' as *;

.UserText {
    color: $Primary-Text;
    font-size: 20px;
    margin: 0px 10px;
    text-transform: capitalize;

}

.UserImg {
    border-radius: 100px;
}

@media (min-width: 991px) {
    .User {
        display: inline-flex;
        align-items: center;
        margin: 0 20px;
    }
}

@media (max-width: 991px) {
    .User {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.Logo{
    background-color: $Logo-Background !important;
    border-radius: 100%;
    padding: 5px;
    width: 70px;
    height: 70px;
}

.SearchBarDiv {
    display: flex;
    flex: 1;
    margin: 0px 10%;
    font-size: 20px;
    border: solid;
    border-width: thin;
    border-color: black;
    border-radius: 10px;
}

.SearchButton {
    width: 15%;

}

.SearchBarText {
    display: flex !important;
    justify-content: center !important;
    width: 100%;
}

.Nav {
    background-color: $Primary-NavBar  !important;
    font-size: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 1);
}

.navItem {
    * {
        display: flex !important;
        justify-content: center;
    }

    width: 100%;
}

.collapse {
    background-color: white !important;
    color: $Primary-Text;
}

.WhiteTekst {
    color: $Primary-Text;
    text-align: center;
}