.UserText{
    color:lightslategray;
    font-size: 20px;
    margin: 0px 10px;

}
.UserImg{
    border-radius: 100px;
}

.User{
    display: inline-flex;
    align-items: center;
    margin: 0 20px;
}