<div class="custom-form">
  <div>
    <label for="VideoFile">Video: </label>
    <label for="VideoTitle">Title: </label>
    <label for="VideoDescription">Description: </label>
  </div>
  <div>
    <input
      id="VideoFile"
      type="file"
      class="file-upload"
      [(ngModel)]="VideoFile"
      name="VideoFile"
      onchange="console.log(event.target.files)"
    />
    <input
      id="VideoTitle"
      type="text"
      [(ngModel)]="VideoTitle"
      name="VideoTitle"
      placeholder="Title"
    />
    <input
      id="VideoDescription"
      type="text"
      [(ngModel)]="VideoDescription"
      name="VideoDescription"
      placeholder="Description"
    />
  </div>
</div>

<button class="button" type="submit" (click)="UploadVideo()">Upload</button>
