<div class="profile-information">
  <img class="profile-picture" alt="User's profile picture" />
</div>

<div class="profile-information">
  <p id="userName" class="user-identifier">
    {{ profiles[profileId].UserName }}
  </p>
  <p id="userTag" class="user-identifier">{{ profiles[profileId].UserTag }}</p>
</div>

<div class="profile-information">
  <p id="follower-count" class="user-statistics">
    {{ profiles[profileId].FollowerCount }}
  </p>
  <p id="likes-count" class="user-statistics">
    {{ profiles[profileId].LikesCount }}
  </p>
  <p id="following-count" class="user-statistics">
    {{ profiles[profileId].FollowingCount }}
  </p>
</div>

<div class="profile-navigation">
  <button class="profile-button">Edit</button>
  <button class="profile-button">Settings</button>
  <button class="profile-button">Share</button>
</div>

<div class="profile-videos">
  <button
    class="upload-button"
    routerLink="/upload"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
  >
    Upload
  </button>

  <ul class="videos-list">
    <li *ngFor="let video of videos">
      <p>{{ video.title }}</p>
    </li>
  </ul>
</div>
<!--   src="{{ profiles[0].ImageUrl }}" -->
