.profile-information {
  padding: 16px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;

  .profile-picture {
    height: 115px;
    width: 115px;
    min-height: 115px;
    min-width: 115px;
    max-height: 115px;
    max-width: 115px;
    border-radius: 14px;
  }
  .user-identifier {
    height: 40px;
    width: 120px;
  }
  .user-statistics {
    height: 40px;
    width: 80px;
    min-height: 40px;
    min-width: 80px;
    max-height: 40px;
    max-width: 80px;
  }
}

.profile-navigation {
  position: relative;
  display: flex;
  flex-direction: column;
  top: -290px;
  left: 310px;
  width: 50px;
  min-width: 50px;
  max-width: 50px;
  a {
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
    border-radius: 14px;
    margin: 5px 0;
  }
}
.profile-videos {
  position: relative;
  bottom: 180px;
  .upload-button {
    display: block;
    width: 140px;
    height: 50px;
    min-width: 140px;
    min-height: 50px;
    max-width: 140px;
    max-height: 50px;
    border-radius: 14px;
    border-style: none;
    margin: 0 auto;
    font-size: 16px;
    background: linear-gradient(
      40deg,
      var(--accent-pink) 20%,
      var(--accent-blue)
    );
    // color: var(--accent-orange);
    color: white;
    font-weight: bold;
  }
  button:hover {
    cursor: pointer;
    background: linear-gradient(
      40deg,
      var(--accent-pink) 45%,
      var(--accent-blue)
    );
  }

  .videos-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 10px;
    justify-content: space-between;
    margin: 0;
    li {
      margin: 10px 5px;
      width: 100px;
      height: 120px;
      min-width: 100px;
      min-height: 120px;
      max-width: 100px;
      max-height: 120px;
    }
  }
}

//=================================
// Development helpers
//=================================

// .profile-information {
//   background-color: rgb(255, 255, 129, 0.4);
//   .profile-picture {
//     background-color: rgb(255, 0, 0);
//   }
//   #userName {
//     background-color: rgb(255, 170, 0);
//   }
//   #userTag {
//     background-color: rgba(229, 255, 0);
//   }
//   #follower-count {
//     background-color: rgb(0, 42, 255);
//   }
//   #likes-count {
//     background-color: rgb(208, 0, 255);
//   }
//   #following-count {
//     background-color: rgb(255, 0, 191);
//   }
// }

// .profile-navigation {
//   background-color: rgba(165, 255, 129, 0.4);
//   a {
//     background-color: rgb(72, 255, 0);
//   }
// }
.profile-videos {
  // background-color: rgba(129, 186, 255, 0.4);
  // .upload-button {
  //   background-color: rgb(179, 0, 255);
  // }
  .videos-list {
    background-color: rgba(255, 0, 191);
    li {
      background-color: #ff0000;
    }
  }
}
