@use '../Color' as *;

.Page {
    width: 100dvw;
    height: 100dvh;
    background-color: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $Primary-Text;
    padding: 20px;
    text-align: center;
}

.Logo{
    width: 200px;
    height: 200px;
}