.Page {
    height: 100dvh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.Actions{
    display: flex;
    flex-direction: row;
}

.PreviewImage{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (min-width: 1000px) {
    .UploadOptions {
        width: 30vw;
    }
    .UploadContentEmpty {
        width: 500px;
        height: 500px;
    }
    .UploadContentFilled {
        width: 500px;
    }
    .InputFields {
        width: 500px;
    }
}


@media (max-width: 1000px) {
    .UploadOptions {
        width: 100vw;
    }
    .UploadContentEmpty {
        width: 100vw;
        height: 100vw;
    
    }
    .UploadContentFilled {
        width: 100vw;
    }
    .InputFields {
        width: 100vw;
    }
}
