@use '../../Color' as *;


.Page{
    display: flex;
    flex-direction: column;
    background-color: $Primary-Background;
    color: $Primary-Text;

    .SearchSection{
        display: flex;
        margin: 12px 0px;
        input {
            width: 100%;
            font-size: 1rem;
            padding: 8px 12px;


            border: 4px solid transparent;
            border-radius: 10px;
            background:
                linear-gradient(whitesmoke, whitesmoke) padding-box,
                linear-gradient(
                    90deg,
                    $Following-Border,
                    $Following-Border-gradient
                ) border-box;
            }
    }

    .ResultsSection{
        flex: 1;
    }

    .SearchPageContainer{
        height: 100vh;
        overflow-y: auto;
    }

    .FollowItem {
        min-width: 100px;
        min-height: 100px;
        max-width: 100px;
        max-height: 100px;
        aspect-ratio: 1/1;
        text-align: center;
        white-space: nowrap;
        display: flex;
        flex-direction: column;
        img {
            border: 4px solid transparent;
            border-radius: 50%;
        
            background:
                linear-gradient($Following-Border, $Following-Border-gradient)
                padding-box,
                linear-gradient($Following-Border, $Following-Border-gradient)
                border-box;
        }
    }
    
    .FollowingsMenu {
        width: 100%;
        display: flex;
        margin: 1rem 0rem 0rem 0rem;
    }
    
    .Followings {
        flex-direction: row;
        display: inline-flex;
        align-items: center;
        border-radius: 20px;
        overflow: auto;
        padding: 5px;
        gap: 10px;
        &::-webkit-scrollbar {
            display: none;
        }
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .ResultTitle{
        width: 100%;
        font-size: 18px;
        text-align: center;
        border-bottom: 1px solid $user-State-Border;
    }
    
    .spinner{
        font-weight: 100;
    }

    .spinnerContainer{
        display: flex;
        width: 100%;
        height: 90vh;
        color: $Login-Icon;
        justify-content: center;
        align-items: center;
    }
}
