@use '../../../Color' as *;

.ImgContent {
    width: 100%;
    border-radius: 12px;
}



.VideoContainer {
    max-height: 80vh;
    width: 100%;
    background-color: $VideoBackground;
    display: flex;
}

.backgroundModalHeader {
    border-bottom: $Following-Primary solid 1px;
    background-color: $Primary-Background !important;
}

.backgroundModal {
    background-color: $Primary-Background !important;
}


.contentTitle {
    color: $Primary-Text;
    font-size: 18px;
    text-transform: capitalize;
    width: 100%;
    padding: 10px;
}


.Modal {
    border-radius: solid black !important;
    background-color: $Primary-Background !important;

    button {
       background-color: $Primary-Button ;
       border: solid $Primary-Button-border 2px ; 
       color: whitesmoke;
       *:first-letter {
          text-transform: uppercase;
       }
    }
    .UserImgSimpel {
        margin: 0 10px 0 0;
        border-radius: 100%;
        margin-bottom: 5px;
        border: $Following-Border-gradient solid 2px;
    }

    .UserLink {
        font-size: 20px;
        color: $Primary-Text;
        text-transform: capitalize;
        text-decoration: none;
  }
 

}