.UserInfoBackground {
    border-bottom: rgb(133, 133, 133) solid 2px;
}

.UserImg {
    max-width: 500px;
    min-width: 20vh;
    border-radius: 25vw;
    align-items: center;
    margin: 2%;

}

.UserInfo {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Videos {
    margin-top: 10px;
    overflow-y: scroll;
    flex: 1;
    padding: 10px;
}

.Scroll {
    flex-direction: column;
}

.Page {
    display: flex;
    height: 100vh;
    flex-direction: column;
}   