@use '../../Color' as *;

.UserImg {
    max-width: 100px;
    max-height: 100px;

    min-width: 100px;
    min-height: 100px;

    object-fit: fill;

    border-radius: 100%;
    display: flex;
}

.Videos {
    margin-top: 10px;
    display: flex;
    flex: 1;
    height: 100%;
}

.Scroll {
    flex-direction: column;
    overflow-y: auto;
    padding-bottom: 95px;

}

.TypesOfContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;

    button {
        width: 20%;
    }
}

.Page {
    display: flex;
    height: 100dvh;
    flex-direction: column;
    background-color: $Primary-Background;

}

.SquareImage {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}


.loading{
    display: flex;
    justify-content: center;
    width: 100vw !important;
    align-items: center;
    color: #D71868;
    font-size: 20px;
  }

.CreateContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100cw;

    button {
       background-color: $Primary-Button !important;
       border: solid $Primary-Button-border 2px !important; 
    }
}

.uploadContent {
    margin: 0.7rem;
    padding: 0.3rem;
    font-size: 18px;
    border-radius: 20px;
}

.EditUser {
    height: 40px;
    align-self: center;
}