@use '../Color' as *;

.HomeFeed {
    display: flex;
    overflow: hidden;
    flex: 1;
}

.Scroll {
    background-color: red;
    flex-direction: column;
    overflow-y: scroll;
    flex: 1;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: $ScrollBar-Scrol;
}

::-webkit-scrollbar-thumb {
    background-color: $ScrollBar-Scrol-Background;
    border-radius: 10px;
}

.Page {
    height: 100dvh;
    display: flex;
    flex-direction: column;

}

.ContentType {
    width: 100%;
    margin: 10px 0px 0px 0px;
}

.TypeVideo {
    width: 50%;
}

.TypeImage {
    width: 50%;
}

.FollowItem {
    min-width: 100px;
    min-height: 100px;
    max-width: 100px;
    max-height: 100px;
    aspect-ratio: 1/1;
    text-align: center;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    img {
        border: solid $Following-Border 2px;
        border-radius: 50%;
    }
}

.FollowingsMenu {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1rem 0rem;
}

.Followings {
    flex-direction: row;
    display: inline-flex;
    background-color: $Following-Primary;
    border: solid $Following-Border 4px;
    align-items: center;
    border-radius: 20px;
    overflow: auto;
    padding: 5px;
    gap: 10px;
    min-height: 110px;
    &::-webkit-scrollbar {
        display: none;
    }
    scrollbar-width: none;
    -ms-overflow-style: none;
}



@media (max-width: 1080px) {

    .Followings {
        width: 90%;
        max-height: 100px;
        font-size: 10px;
    }

}

@media (min-width: 1081px) {
    .Followings {
        width: 45%;

    }

}