$Primary-NavBar: #318CE7;
$Mobile-Navbar: rgb(41, 41, 41);

$Logo-Background: #1b1b1b;

$Primary-Text: whitesmoke;

$Post-Background: #444;
$Thumbnail-Background: #111;

$LikeButton: whitesmoke;
$LikeButton-border: whitesmoke;

$VideoBackground: black;

$nav-Button: white;

$Primary-Delete: rgb(255, 65, 65);

$UserInfoBackground: #111;
$UserInfo-BorderBottom: #318CE7;

$Following-Primary: #B9D9EB;
$Following-Border: #318CE7;;

$ScrollBar-Scrol: whitesmoke;

$ScrollBar-Scrol-Background: lightgray;


$Primary-LikeButton: #D71868;
