/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --main-purple: rgb(86, 54, 147);
  --main-pink: #ec2678;

  --accent-blue: #37c8fc;
  --accent-orange: #ea9d10;
  --accent-pink: #f00b78;

  // --lighter-main-purple: rgb(123, 94, 177);
  // --lighter-main-pink: rgb(205, 105, 151);
  --lighter-main-purple: rgb(144, 124, 181);
  --lighter-main-pink: rgb(214, 118, 163);
  --lighter-accent-orange: #ea9e10;
  --lighter-accent-blue: #36c7fc;
}

:host {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin: 0;
  // overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
  line-height: 102%;
}

span,
p,
a,
label {
  margin: 0;
  color: white;
  text-decoration: none;
}

.content-container {
  margin: auto;
  width: 360px;
  height: 700px;
  min-width: 360px;
  min-height: 100vh;
  max-width: 360px;
  max-height: 100vh;
  // background: linear-gradient(
  //   var(--lighter-main-purple),
  //   var(--lighter-main-pink)
  // );
  background: linear-gradient(to left, var(--main-purple), var(--main-pink));
}

form {
  display: block;
  text-align: center;
}

.custom-form {
  display: flex;
  flex-direction: row;
  line-height: 24px;
  padding: 10vh 0;
  text-align: left;
  input {
    border: none;
    background-color: #ffffffcc;
    width: 99%;
    min-width: 99%;
    max-width: 99%;
    padding: 1px 0 1px 1px;
  }
  .form-left {
    width: 35%;
    min-width: 35%;
    max-width: 35%;
  }
  .form-right {
    width: auto;
  }
}

.form-button {
  width: 100px;
  height: 50px;
  min-width: 100px;
  min-height: 50px;
  max-width: 100px;
  max-height: 50px;
  border-radius: 14px;
  border: none;
  margin: 0 10px;
  font-size: 16px;
  // background: linear-gradient(40deg, var(--main-purple), var(--main-pink));
  // color: var(--accent-orange);
  background: linear-gradient(
    40deg,
    var(--accent-pink) 20%,
    var(--accent-blue)
  );
  color: white;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
  background: linear-gradient(
    40deg,
    var(--accent-pink) 45%,
    var(--accent-blue)
  );
}

//=================================
// Development helpers
//=================================

nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 0px;
  top: 0px;
  background-color: rgba(128, 128, 128, 0.5);
  padding: 10px;
  text-decoration: none;
}

.changevid {
  position: absolute;
  font-size: 20px;
  top: 350px;
  right: 200px;
  width: 200px;
  height: 50px;
  border: none;
  background-color: rgb(187, 255, 232);
  &:hover {
    cursor: pointer;
    background-color: aquamarine;
  }
}
