/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --main-purple: #563693;
  --main-pink: #ec2678;

  --accent-blue: #37c8fc;
  --accent-orange: #ea9d10;
  --accent-pink: #f00b78;

  --low-opacity-main-purple: #57369480;
  --low-opacity-main-pink: #ed267980;
}

:host {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin: 0;
  background: linear-gradient(
    var(--low-opacity-main-purple),
    var(--low-opacity-main-pink)
  );
  // overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
  line-height: 102%;
}

p {
  margin: 0;
  line-height: 80%;
}

.content-container {
  margin: auto;
  width: 360px;
  height: 700px;
  min-width: 360px;
  min-height: 100vh;
  max-width: 360px;
  max-height: 100vh;
}

.custom-form {
  display: flex;
  flex-direction: row;
  line-height: 24px;
  padding: 10vh 0;
}

//=================================
// Development helpers
//=================================

nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 0px;
  top: 0px;
  background-color: rgba(128, 128, 128, 0.5);
  padding: 10px;
  text-decoration: none;
}

.changevid {
  position: absolute;
  font-size: 20px;
  top: 350px;
  right: 200px;
  width: 200px;
  height: 50px;
  border: none;
  background-color: rgb(187, 255, 232);
  &:hover {
    cursor: pointer;
    background-color: aquamarine;
  }
}
