.LoginBackground {
  border-radius: 20px;
    background-color: #f5f5f5;
    padding: 15px;
    width: 500px;
  }
  
  .title {
    color: #333;
    font-size: 24px;
  }

  .Submit{
    margin: 10px 0px;
  }

.LoginPage {
  min-height: 100vh;
}

.PfPicture{
  width: 10vh;
  height:  10vh;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
* {
  overflow: hidden;
}
