<div class="content-container">
  <!-- =================== -->
  <!-- Development helpers -->
  <!-- =================== -->
  <nav>
    <h2>Navigation for development</h2>
    <a
      class="button"
      routerLink="/home"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page"
    >
      HomeComponent
    </a>
    <a
      class="button"
      routerLink="/login"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page"
    >
      LoginComponent
    </a>
    <a
      class="button"
      routerLink="/signup"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page"
    >
      SignupComponent
    </a>
    <a
      class="button"
      routerLink="/upload"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page"
    >
      UploadComponent
    </a>
    <a
      class="button"
      routerLink="/settings"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page"
    >
      SettingsComponent
    </a>
    <a
      class="button"
      routerLink="/profile"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page"
    >
      ProfileComponent
    </a>
  </nav>
  <!-- =================== -->
  <!-- Development helper end -->
  <!-- =================== -->

  <router-outlet> </router-outlet>
</div>
