<form>
  <div class="custom-form">
    <div class="form-left">
      <label for="Email">Email: </label>
      <br />
      <label for="UserName">Username: </label>
      <br />
      <label for="Password">Password: </label>
      <br />
      <label for="ProfilePicture">Profile picture: </label>
    </div>

    <div class="form-right">
      <input
        id="Email"
        type="email"
        [(ngModel)]="Email"
        name="Email"
        placeholder="Email"
      />
      <br />
      <input
        id="UserName"
        type="UserName"
        [(ngModel)]="UserName"
        name="UserName"
        placeholder="UserName"
      />
      <br />
      <input
        id="Password"
        type="password"
        [(ngModel)]="Password"
        name="Password"
        placeholder="Password"
      />
      <br />
      <input
        id="ProfilePicture"
        type="file"
        class="file-upload"
        [(ngModel)]="ProfilePicture"
        name="ProfilePicture"
        onchange="console.log(event.target.files)"
      />
    </div>
  </div>

  <button class="form-button" type="submit" (click)="SignUp()">Sign up</button>

  <a
    routerLink="/login"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
  >
    Log in
  </a>
</form>
