.UserText {
    color: lightslategray;
    font-size: 20px;
    margin: 0px 10px;
    width: 25%;

}

.UserImg {
    border-radius: 100px;
}

@media (min-width: 991px) {
    .User {
        display: inline-flex;
        align-items: center;
    }
}

@media (max-width: 991px) {
    .User {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.SearchBarText{
    width: 100%;
}

.NavButton{
    text-align: center;
    color: white;
    background: transparent;
    padding: 5px;
    border: solid white 2px;
    border-radius: 10px;
    flex: 1;  

}

.NavItems{
    display: flex;
    flex-direction: row;
    gap: 2%;
    width: 100dvw;
}

.Nav {  
    display: flex;
    flex-direction: column;
    
    bottom: 0;

    background-color: rgb(41, 41, 41) !important;
    font-size: 20px;
    color: whitesmoke;
    width: 100%;

}

.navItem {
    * {
        display: flex !important;
        justify-content: center;
    }

    width: 100%;
}

.collapse {
    background-color: white !important;
    color: whitesmoke;
}

